[submodule "backend"]
	path = backend
	url = https://github.com/2023-Winter-Bootcamp-TeamG/backend.git
	branch = "feat/#48"
[submodule "frontend"]
	path = frontend
	url = https://github.com/2023-Winter-Bootcamp-TeamG/frontend.git
